*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Spartan', sans-serif;
}
/*top section w logo and nav bar*/
nav{
     display:  none;
     width: 100%;
     background: white;
     position: absolute;
     z-index: 2;
     transition:ease-in 1s;
}
nav ul{
     padding: 30px;
}
nav ul li{
     text-align: center;
     font-weight: 600;
     list-style: none;
     display: inline-block;
     margin-left: 3%;
     padding: 5px;
}
.container{
     width: 100vw;
}
.topsection{
     background-image: url(./images/mobile-image-hero-1.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     max-width: 375px;
     height: 350px;
}
.topsection .navmobile{
     padding-top: 30px;
     display: flex;
}
.topsection .navmobile .hamburger{
     margin-left: 10%;
     padding: 4px;
}
 .room{
     position: relative;
     top: -20px;
     left: 40%;
}
.topsection .nextprev-button{
     position: relative;
     display: flex;
     top: 227px;
     justify-content: flex-end;
}
.topsection .nextprev-button .next, .prev{
     border: none;
     outline: none;
     background-color: black;
     width: 45px;
     height: 50px;
}
.nextimg, .previmg{
     height: 13px;
     width: 8px;
}
/*second section w scroll*/
.secondcontainer{
     height: 430px;
     padding: 20px 0;
     overflow: hidden;
}
.firstsection, .secondsection, .thirdsection{
     height: 400px;
     line-height: 1.7;
}
.text h1{
     display: block;
     width: 80%;
     padding: 10px;
     margin: 30px 0 0 7%;
     font-weight: 700;
}
.text  p{
     display: block;
     width: 90%;
     padding: 10px;
     margin: 0 0 0 7%;
     color: hsl(0, 0%, 63%);
     font-size: 12px;
     font-weight: 500;
}
.shop{
     margin-top: 15px;
     display: flex;
     margin-bottom: 20px;
}
.shop p{
     text-transform: uppercase;
     color: black;
     letter-spacing: 10px;
}
.arrow{
     padding: 10px;
     width: 50%;
     margin-right: 15%;
     height: 35px;
}
.thirdcontainerimg{
     width: 100%;
}
.about{
     height: 320px;
}
.about h3{
     display: block;
     width: 80%;
     margin:  30px 0 0 7%;
     padding: 10px;
     text-transform: uppercase;
     letter-spacing: 4px;
     word-spacing: 2px;
}
.about p{
     line-height: 1.7;
     color: hsl(0, 0%, 63%);
     width: 90%;
     margin: 5px 0 0 7%;
     padding: 10px;
}
.aboutdark{
     width: 100vw;
}
.fifthcontainerimg{
     width: 100%;
}
.aboutlight{
     width: 100vw;
}
footer{
     background-color: hsl(0, 0%, 100%);
     padding: 3px;
}
footer a{
     text-decoration: none;
     color: hsla(0, 0%, 0%,1);
}

@media  screen and (min-width: 375px){
     main{
          display: grid;
     }
     .topsection{
          background-image: url(./images/desktop-image-hero-1.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          max-width: 60vw;
          height: 60vh;
          flex-wrap: wrap;
     } 
     nav{
          display: inline-block;
          background: none;
          z-index: 3;
          color: hsla(0, 0%, 100%, 0.9);
          margin-left: 70px;
     }
     nav ul li{
          margin-left: 25px;
     }
     nav ul li:first-child{
          display: none;
     }
     .hamburger{
          display: none;
     }
     .room{
          top: 6px;
          left: 35px;
     }
     .secondcontainer{
          width: 40vw;
          height: 60vh;
     }
     .text h1{
          width: 60%;
     }
     .text p{
          width: 80%;
     }
     .arrow{
          width: 140px;
     }
     .thirdcontainerimg{
          width: 30vw;
     }
     .about{
          width: 40vw;
     }
     .fifthcontainerimg{
          width: 30vw;
     }
}